<div class="mt-5 my-3 p-3 bg-white rounded shadow-sm">
  <h5 class="border-bottom border-gray pb-2 mb-0">New Template</h5>
  <div class="pt-3">
    <%= render 'form', template: @template %>
  </div>
</div>