main.container{
    min-height: 300px;
}

div.form-container-center{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

form.login-form #inputUsername{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

form.login-form #inputPassword{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

textarea#template_content{
    min-height: 300px;
}

.shorttag-sm{
    font-style: italic;
}