<div class="py-md-5 form-container-center">
  <h1 class="h3 mb-3 font-weight-normal text-center">Sign Up</h1>
  <% if @user.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h6 class="alert-heading">Oops! There's an error upon submitting.</h6>
      <div class="sb-msg">
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <%= form_with(model: @user, html: {id: 'register-form', class: 'nobottommargin', name: 'register-form'}, local: true) do |f| %>
    <label for="inputEmail" class="sr-only">Email address</label>
    <%= f.text_field :email_address, class: 'form-control required mb-3', id: 'inputEmail', placeholder: 'Email Address', required: 'required' %>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Get Started</button>
    <input type="hidden" name="user[referer]" value="<%= cookies[:referer] %>" />
  <% end %>
</div>



