<div class="mt-5 my-1 p-3 bg-white rounded shadow-sm">
  <% if notice %>
    <div class="alert alert-secondary"><%= notice %></div>
  <% end %>
  <div class="d-flex justify-content-between border-bottom border-gray pb-2 mb-0">
    <h5>Email Lists</h5>
    <%= link_to 'Create New', new_emaillist_url, class: 'btn btn-primary btn-sm' %>
  </div>
  <div class="pt-3">
    <div class="list-group">
      <% @emaillists.each do |list| %>
        <a href="<%= emaillist_url(list) %>" class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">
          <%= list.name %>
          <% if list.default %>
            <span class="badge badge-success badge-pill">default</span>
          <% end %>
        </a>
      <% end %>
    </div>
  </div>
</div>
