<section class="my-5">

  <!-- Section heading -->
  <h1 class="h1-responsive text-center font-weight-bold my-5">About Us</h1>

  <p>Owl Campaign is built to make your mailing work easier.</p>

</section>