<section class="my-5">

  <!-- Section heading -->
  <h1 class="h1-responsive text-center font-weight-bold my-5">Contact Us</h1>

  <p>We're so passionate about our customer service, you can contact us by mailing ceo@ at our website URL.</p>

</section>