<section class="text-center my-5">

  <!-- Section heading -->
  <h1 class="h1-responsive font-weight-bold my-5">Features</h1>
  <!-- Section description -->
  <p class="lead grey-text w-responsive mx-auto mb-5">Create amazing email campaign with OwlCampaign</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fas fa-star fa-3x red-text"></i>
      <h5 class="font-weight-bold my-4">Customizable Template</h5>
      <p class="grey-text mb-md-0 mb-5">
        Create your own template as many as you want.
      </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fas fa-paper-plane fa-3x cyan-text"></i>
      <h5 class="font-weight-bold my-4">Send with ease</h5>
      <p class="grey-text mb-md-0 mb-5">
        Send your email campaign anytime you want. We will handle it for you.
      </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="far fa-list-alt fa-3x orange-text"></i>
      <h5 class="font-weight-bold my-4">Efficient Mailing List</h5>
      <p class="grey-text mb-0">Manage your email list efficiently.
      </p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>