<section class="my-5">

  <!-- Section heading -->
  <h1 class="h1-responsive text-center font-weight-bold my-5">Guides and Tutorials</h1>

  <div>
    <h3>How to get started?</h3>
    <ul>
      <li>Sign Up</li>
      <li>Create email lists</li>
      <li>Create contacts</li>
      <li>Create campaign</li>
      <li>Send</li>
    </ul>
  </div>

</section>