<section class="text-center p-4">

  <h1 class="h1-responsive font-weight-bold my-5">Email Mailing Lists - Simplified</h1>

  <p class="lead grey-text w-responsive mx-auto mb-5">OwlCampaign is built to make your mailing work easier.</p>

</section>