<section class="text-center my-5">

  <!-- Section heading -->
  <h1 class="h1-responsive font-weight-bold my-5">Pricing</h1>
  <!-- Section description -->
  <p class="lead grey-text w-responsive mx-auto mb-5">Choose your plan and get started with OwlCampaign</p>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Free</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Free</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Unlimited email list</li>
            <li>Unlimited contacts</li>
            <li>Up to 100 emails per day</li>
            <li>Pre-designed templates</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign Up</button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Premium</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$10 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Unlimited email list</li>
            <li>Unlimited contacts</li>
            <li>Up to 50,000 emails per day</li>
            <li>Email support</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Sign Up</button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$40 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Unlimited email list</li>
            <li>Unlimited contacts</li>
            <li>Unlimited emails</li>
            <li>Email and phone support</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Sign Up</button>
        </div>
      </div>
    </div>
  </div>

</section>