<section class="my-5">

  <!-- Section heading -->
  <h1 class="h1-responsive text-center font-weight-bold my-5">Privacy Policy</h1>

  <p>When you use our services, you provide us with your information and data. This privacy policy is designed to help you understand how we use this information, what information we collect, and why we use this information. OwlCampaign recognizes that privacy is important and we hope this policy will provide clarity on use of this information and data.</p>
  <p>There are multiple ways to access our services, including but not limited to using a web browser, using a mobile app, using a mobile web browser, using a third-party affiliated website, or using our APIs either directly or via a third-party's use of our APIs. This policy covers all information collected in these manners, or in any other manners.</p>
</section>