<section class="my-5">

  <!-- Section heading -->
  <h1 class="h1-responsive text-center font-weight-bold my-5">Security</h1>

  <p>Owl Campaign is backed by world leading security and encryption. We are built on one of the world's most security-forward modern web platforms.</p>

</section>