<div class="modal fade contact_show_modal" id="contactShowModal" data-backdrop="static" tabindex="-1" aria-labelledby="contactShowModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactShowModalLabel">Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 mb-4">
            <h3 id="contactEmail"></h3>
            <h6 id="contactName"></h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <small><strong>Phone:</strong></small>
            <p><span id="contactPhone"></span></p>
          </div>
          <div class="col-md-4">
            <small><strong>Address:</strong></small>
            <p><span id="contactAddress"></span></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>