<h1>Pick A Template For Your Email</h1>
<% for template in current_user.templates %>
  <div class="mt-1 border p-2">
    <%= template.name %>
    <%= link_to "Choose", {action: :choose_template, controller: :campaigns, id: @campaign.id}, method: :patch %>
  </div>
<% end %>